body {
  font: 1em sans-serif;
  /* width: 200px; */
  padding: 0;
  margin: 0 auto;
}

button {
  border: none;
  outline: none;
}

.form {
  width: 400px;
  margin: 0 auto;
}

form {
  max-width: 200px;
}

p * {
  display: block;
}

input {
  appearance: none;
  width: 100%;
  border: 1px solid #333333;
  margin: 0;

  font-family: inherit;
  font-size: 90%;

  box-sizing: border-box;
}

/* invalid fields */
input.invalid {
  border: 2px solid #990000;
  background-color: #ffdddd;
}

input:focus.invalid {
  outline: none;
  /* make sure keyboard-only users see a change when focusing */
  border-style: dashed;
}

/* error messages */
#error {
  width: 100%;
  font-size: 80%;
  color: white;
  background-color: #990000;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
}

.active {
  padding: 0.3rem;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #990000;
  border: 5px solid red;
}

.getImg-btn {
  padding: 10px 25px;
  border: none;
  outline: none;
  background-color: cadetblue;
  color: white;
}

.img-container {
  margin: 20px; 
}

.img-content {
  width: 350px;
  height: 300px;
  border: 2px solid #333;
}

.search-box {
  width: 300px;
  border: 1px solid #333;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.search-input {
  border: none;
  outline: none;
}

.gif-image {
  width: 300px;
}

.search-btn {
  width: 80%;
  padding: 15px 10px;
  /* background-color: transparent; */
}
